/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*

  Fonts

*/
@font-face {
  font-family: "cicle";
  src: url("../fonts/cicle/cicle_semi_italic-webfont.eot");
  src: url("../fonts/cicle/cicle_semi_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cicle/cicle_semi_italic-webfont.woff") format("woff"), url("../fonts/cicle/cicle_semi_italic-webfont.woff2") format("woff2"), url("../fonts/cicle/cicle_semi_italic-webfont.ttf") format("truetype"), url("../fonts/cicle/cicle_semi_italic-webfont.svg#cicle") format("svg");
  font-style: "italic";
  font-weight: 400; }
@font-face {
  font-family: "cicle";
  src: url("../fonts/cicle/cicle_semi-webfont.eot");
  src: url("../fonts/cicle/cicle_semi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cicle/cicle_semi-webfont.woff") format("woff"), url("../fonts/cicle/cicle_semi-webfont.woff2") format("woff2"), url("../fonts/cicle/cicle_semi-webfont.ttf") format("truetype"), url("../fonts/cicle/cicle_semi-webfont.svg#cicle") format("svg");
  font-style: "normal";
  font-weight: 400; }
@font-face {
  font-family: "cicle";
  src: url("../fonts/cicle/cicle_fina_italic-webfont.eot");
  src: url("../fonts/cicle/cicle_fina_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cicle/cicle_fina_italic-webfont.woff") format("woff"), url("../fonts/cicle/cicle_fina_italic-webfont.woff2") format("woff2"), url("../fonts/cicle/cicle_fina_italic-webfont.ttf") format("truetype"), url("../fonts/cicle/cicle_fina_italic-webfont.svg#cicle") format("svg");
  font-style: "italic";
  font-weight: 100; }
@font-face {
  font-family: "cicle";
  src: url("../fonts/cicle/cicle_fina-webfont.eot");
  src: url("../fonts/cicle/cicle_fina-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cicle/cicle_fina-webfont.woff") format("woff"), url("../fonts/cicle/cicle_fina-webfont.woff2") format("woff2"), url("../fonts/cicle/cicle_fina-webfont.ttf") format("truetype"), url("../fonts/cicle/cicle_fina-webfont.svg#cicle") format("svg");
  font-style: "normal";
  font-weight: 100; }
@font-face {
  font-family: "lato";
  src: url("../fonts/lato/lato-italic-webfont.eot");
  src: url("../fonts/lato/lato-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-italic-webfont.woff") format("woff"), url("../fonts/lato/lato-italic-webfont.woff2") format("woff2"), url("../fonts/lato/lato-italic-webfont.ttf") format("truetype"), url("../fonts/lato/lato-italic-webfont.svg#lato") format("svg");
  font-style: "italic";
  font-weight: 400; }
@font-face {
  font-family: "lato";
  src: url("../fonts/lato/lato-regular-webfont.eot");
  src: url("../fonts/lato/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-regular-webfont.woff") format("woff"), url("../fonts/lato/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato/lato-regular-webfont.svg#lato") format("svg");
  font-style: "normal";
  font-weight: 400; }
@font-face {
  font-family: "lato";
  src: url("../fonts/lato/lato-lightitalic-webfont.eot");
  src: url("../fonts/lato/lato-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-lightitalic-webfont.woff") format("woff"), url("../fonts/lato/lato-lightitalic-webfont.woff2") format("woff2"), url("../fonts/lato/lato-lightitalic-webfont.ttf") format("truetype"), url("../fonts/lato/lato-lightitalic-webfont.svg#lato") format("svg");
  font-style: "italic";
  font-weight: 100; }
@font-face {
  font-family: "lato";
  src: url("../fonts/lato/lato-light-webfont.eot");
  src: url("../fonts/lato/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/lato-light-webfont.woff") format("woff"), url("../fonts/lato/lato-light-webfont.woff2") format("woff2"), url("../fonts/lato/lato-light-webfont.ttf") format("truetype"), url("../fonts/lato/lato-light-webfont.svg#lato") format("svg");
  font-style: "normal";
  font-weight: 100; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* @font-face {
       font-family: 'lane-narrow';
       src: url('../fonts/lanenar_-webfont.svg#lane_-_narrowregular') format('svg');
   }
   p {
     font-weight: 800;
   }*/ }
strong {
  font-weight: bold;
  font-size: 22px;
  color: #000; }

p {
  margin: 20px 0;
  line-height: 28px;
  letter-spacing: 0.26px;
  font-size: 16px; }

p:first-child {
  margin-top: 0; }

/*******************************

  General Styles

*******************************/
body,
html {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font: 100 16px 'Lato', arial, sans-serif;
  color: #767676;
  transition: 500ms; }

*,
*:after,
*:before {
  box-sizing: border-box; }

.wrapper {
  width: 97.23%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

p {
  margin: 0;
  padding: 0;
  letter-spacing: 0; }

a, button {
  outline-color: transparent;
  outline: none; }

a {
  color: inherit;
  text-decoration: none;
  font-weight: 100; }

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  margin: 0 0 0 20px; }
  button:first-child {
    margin: 0; }

img {
  width: 100%;
  height: auto; }

.btn {
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 10px;
  border: 1px solid #ffde17;
  text-transform: uppercase;
  margin: 20px 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  .btn.light:hover {
    background: rgba(200, 100, 50, 0.7); }
  .btn.dark:hover {
    color: #414042;
    background: rgba(255, 255, 255, 0.7); }

.hr-line {
  background: -moz-linear-gradient(left, rgba(158, 148, 136, 0) 0%, #9e9488 25%, #d9bd96 75%, rgba(217, 189, 150, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(158, 148, 136, 0) 0%, #9e9488 25%, #d9bd96 75%, rgba(217, 189, 150, 0) 100%);
  background: linear-gradient(to right, rgba(158, 148, 136, 0) 0%, #9e9488 25%, #d9bd96 75%, rgba(217, 189, 150, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009e9488', endColorstr='#00d9bd96',GradientType=1 );
  height: 2px;
  width: 100%;
  margin: 10px 0; }

.hide-copy {
  text-indent: -9999999px;
  display: block;
  height: 0; }

.social {
  width: 100%;
  text-align: center; }
  .social .social-icons {
    width: 120px;
    overflow: hidden;
    margin: 0 auto; }
  .social .social-item {
    float: left;
    width: 32%;
    display: inline; }
    .social .social-item svg.icon {
      height: 25px;
      width: auto;
      fill: #414042;
      -webkit-transition: fill 300ms;
      -moz-transition: fill 300ms;
      -ms-transition: fill 300ms;
      -o-transition: fill 300ms;
      transition: fill 300ms; }
      .social .social-item svg.icon:hover {
        fill: #cd8b59; }

.dont-break-out {
  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.responsive-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 720px;
  width: 100%; }

.responsive-embed iframe, .responsive-embed object, .responsive-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

input {
  border: none; }

/*******************************

  Basic 4 Column Grid

*******************************/
.block {
  float: left;
  padding: 0 0 0 20px;
  position: relative; }

.block-1-wide {
  width: 25%;
  max-width: 240px; }

.block-2-wide {
  width: 50%;
  max-width: 480px; }

.block-3-wide {
  width: 75%;
  max-width: 720px; }

.block-4-wide {
  width: 100%;
  max-width: 960px; }

/*******************************

  Header Styles

*******************************/
.site-header {
  padding: 20px 0 0;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  transition: 600ms; }
  .site-header > * {
    transition: 600ms; }
  .site-header .logo-wrapper {
    width: 132px;
    height: auto;
    margin: 0 auto; }
    .site-header .logo-wrapper a {
      display: inline-block; }
  .site-header .slogan {
    width: 100%;
    text-align: center; }
  .site-header .header-top-bar {
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px; }
  .site-header .menu-btn {
    width: 40px;
    float: right;
    height: 40px;
    display: none;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%); }
  .site-header .menu-nav-btn__bar {
    width: 100%;
    height: 2px;
    margin-top: 4px;
    display: inherit;
    -webkit-transition: 400ms;
    transition: 400ms;
    /* position: absolute; */
    pointer-events: none;
    opacity: 1;
    border: 1px solid;
    border-style: solid none none; }
  .site-header .menu-nav-btn__bar:first-child {
    margin-top: 0; }
  .site-header .menu-btn.active {
    height: 40px;
    opacity: 1; }
  .site-header .menu-btn.active .menu-nav-btn__bar {
    transform: translateY(3px) rotate(-45deg);
    transform-origin: center center;
    -webkit-transform-origin: center center;
    margin-top: 0px; }
  .site-header .menu-btn.active .menu-nav-btn__bar:first-child {
    transform: translateY(3px) rotate(45deg); }

/*******************************

  Nav Styles

*******************************/
.site-nav {
  text-align: center; }
  .site-nav ul {
    margin: 0 0 20px; }
  .site-nav li {
    display: inline-block;
    margin: 0 0 0 20px;
    position: relative;
    padding: 5px 0; }
    .site-nav li:first-child {
      margin: 0; }
    .site-nav li a {
      font-size: 22px;
      border: 1px solid transparent;
      border-style: none none solid;
      -webkit-transition: all 300ms;
      -moz-transition: all 300ms;
      -ms-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms; }
      .site-nav li a:hover {
        border-color: #ffde17; }
      .site-nav li a.btn, .site-nav li a.btn:hover {
        border: 1px solid #ffde17;
        border-style: solid;
        text-transform: capitalize; }

/*******************************

  Homepage Styles

*******************************/
.index-page h2, .index-page h3, .index-page h4 {
  font-family: 'cicle', 'arial', sans-serif;
  padding: 20px 0; }
.index-page h2 {
  font-size: 30px; }
.index-page h3 {
  font-size: 50px; }
.index-page h4 {
  font-size: 30px; }
.index-page .hero {
  width: 100%;
  padding-bottom: 50%;
  text-align: center;
  background-image: url(../img/home-img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
  z-index: 2;
  position: relative;
  font-size: 24px;
  line-height: 30px; }
  .index-page .hero .wrapper {
    height: 100%;
    overflow: visible;
    position: initial; }
  .index-page .hero .hero-copy {
    color: #414042;
    text-shadow: 0 0 15px #fff;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    width: 80%; }
    .index-page .hero .hero-copy p {
      font-size: inherit;
      line-height: inherit; }
    .index-page .hero .hero-copy .btn {
      text-shadow: initial; }
  .index-page .hero .cta-block {
    background: #cd8b59;
    width: 80%;
    max-width: 620px;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, 50%);
    text-align: center;
    padding: 0 50px 20px;
    bottom: 0%;
    left: 50%; }
    .index-page .hero .cta-block h4 {
      color: #ffde17;
      font-style: italic;
      padding: 20px 0 0; }
    .index-page .hero .cta-block p {
      margin: 5px 0 10px;
      padding: 0 50px 20px; }
    .index-page .hero .cta-block .instructions {
      font-size: 20px;
      line-height: 20px;
      color: #fff; }
    .index-page .hero .cta-block input[type="text"] {
      width: 40%;
      color: #414042;
      background: #fff;
      height: 45px;
      margin: 0 0 0 5%; }
      .index-page .hero .cta-block input[type="text"]:first-child {
        margin: 0; }
    .index-page .hero .cta-block [type="submit"] {
      background: transparent;
      width: 100%;
      text-align: center;
      color: #fff;
      border: #ffde17 solid 2px;
      border-style: none none solid;
      max-width: 100px;
      font-size: 24px;
      font-weight: 100;
      margin: 20px 0 0;
      font-family: inherit; }
.index-page .mission {
  z-index: 1;
  position: relative; }
  .index-page .mission .bkgd {
    width: 80%;
    float: left;
    margin-left: -30%;
    height: 100%;
    position: absolute;
    background: #ffde17;
    -webkit-transform: skew(-20deg, 0deg);
    transform: skew(-20deg, 0deg); }
  .index-page .mission h3 {
    text-align: center; }
  .index-page .mission .block {
    padding: 130px 6% 70px 0; }
    .index-page .mission .block p {
      font-size: 30px;
      line-height: 40px; }
.index-page .event {
  text-align: center;
  background: #cd8b59;
  color: #fff; }
  .index-page .event h3 {
    padding: 40px 0; }
  .index-page .event .cta-btn-block {
    margin: 30px 0 0; }

/*******************************

  Footer Styles

*******************************/
.site-footer {
  color: #414042;
  padding: 20px 0;
  margin: 100px 0 0; }
  .site-footer .footer-logo-wrapper {
    width: 240px;
    position: absolute;
    left: 50%;
    margin-left: -120px;
    top: -16px; }
  .site-footer .footer-blocks {
    overflow: hidden; }
    .site-footer .footer-blocks .block {
      width: 36%; }
    .site-footer .footer-blocks .footer-subscribe {
      float: right; }
      .site-footer .footer-blocks .footer-subscribe h3 {
        margin: 0;
        line-height: 50px; }
  .site-footer .social-legal {
    text-align: center; }
    .site-footer .social-legal .legal {
      font-size: 16px;
      letter-spacing: 1px;
      width: 100%;
      text-align: center; }

.collapsed {
  max-height: 0;
  opacity: 0;
  margin: 0;
  overflow: hidden; }

.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  z-index: 10; }

.loader {
  position: absolute;
  top: 250px;
  left: 50%;
  margin-left: -100px;
  opacity: 1;
  max-height: 900px;
  transition: 400ms;
  z-index: 20; }

.loader-wrapper.collapsed {
  opacity: 0;
  max-height: 0;
  z-index: 0;
  overflow: hidden; }

@media screen and (max-width: 980px) {
  .index-page .hero .hero-copy {
    transform: translate(-50%, -50%); } }
@media screen and (max-width: 768px) {
  .site-header .logo-wrapper {
    width: 100px; }
  .site-header .site-nav ul li {
    margin: 0 0 0 15px; }
    .site-header .site-nav ul li:first-child {
      margin: 0; }
    .site-header .site-nav ul li a {
      font-size: 20px; }

  .index-page .hero .hero-copy {
    font-size: 18px; } }
@media screen and (max-width: 670px) {
  .site-header .site-nav {
    margin: 0 0 20px;
    max-height: 0;
    padding: 0;
    opacity: 0;
    pointer-events: none; }
  .site-header .menu-btn {
    display: block; }

  .site-content {
    margin: 20px 0 0; }

  .hero .hero-copy {
    width: 80%;
    font-size: 16px;
    line-height: 18px; } }

/*# sourceMappingURL=style.css.map */
